@model ThesisWebProjekt.Models.Thesis

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Thesis</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bachelor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bachelor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Master)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Master)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Registration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Registration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Filing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Filing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Summary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Summary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Strengths)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Strengths)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weaknesses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weaknesses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Evaluation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Evaluation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContentVal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContentVal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LayoutVal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LayoutVal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StructureVal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StructureVal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StyleVal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StyleVal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LiteratureVal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LiteratureVal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DifficultyVal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DifficultyVal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoveltyVal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoveltyVal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RichnessVal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RichnessVal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContentWt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContentWt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LayoutWt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LayoutWt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StructureWt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StructureWt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StyleWt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StyleWt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LiteratureWt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LiteratureWt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DifficultyWt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DifficultyWt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoveltyWt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoveltyWt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RichnessWt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RichnessWt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastModified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastModified)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Studiengang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Studiengang.Name)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
