@model ThesisWebProjekt.Models.Thesis

@{
    ViewData["Title"] = "Details";
}
    
<h1>Details</h1>

<div id="PrintBereich">
    <hr />
    <h4>Thema</h4>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lehrstuhl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lehrstuhl.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Betreuer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Betreuer.UserName)
        </dd>
    </dl>
    <hr />
    <h4>Bearbeitung</h4>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Registration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Registration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Filing)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Filing)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Studiengang)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Studiengang.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastModified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastModified)
        </dd>

    </dl>
    <hr />
  
    <div class=" panel panel-default" >
        <div class="panel-heading"><h4>Bewertung</h4></div>
        <div class="panel-body" style=" background-color: white">
            <div class="row">
                <div class="col-md-2"><label><strong>@Html.DisplayNameFor(model => model.Summary)</strong></label></div>
                <div class="col-md-4"><span>@Html.DisplayFor(model => model.Summary)</span></div>
            </div>
            <div class="row">
                <div class="col-md-2"><label><strong>@Html.DisplayNameFor(model => model.Strengths)</strong> </label></div>
                <div class="col-md-4"><span>  @Html.DisplayFor(model => model.Strengths)</span></div>
            </div>
            <div class="row">
                <div class="col-md-2"><label><strong>@Html.DisplayNameFor(model => model.Weaknesses)</strong></label></div>
                <div class="col-md-4"><span> @Html.DisplayFor(model => model.Weaknesses)</span></div>
            </div>
            <div class="row">
                <div class="col-md-2"><label><strong>@Html.DisplayNameFor(model => model.Evaluation)</strong></label></div>
                <div class="col-md-4"><span> @Html.DisplayFor(model => model.Evaluation)</span></div>
            </div>
            <div class="row">
                <div class="col-md-2"><label>@Html.DisplayNameFor(model => model.ContentVal)</label></div>
                <div class="col-md-1"><span> @Html.DisplayFor(model => model.ContentVal)</span></div>
                <div class="col-md-2"><label>@Html.DisplayNameFor(model => model.ContentWt)</label></div>
                <div class="col-md-1"><span> @Html.DisplayFor(model => model.ContentWt)</span></div>
            </div>
            <div class="row">
                <div class="col-md-2"><label>@Html.DisplayNameFor(model => model.LayoutVal)</label></div>
                <div class="col-md-1"><span> @Html.DisplayFor(model => model.LayoutVal)</span></div>
                <div class="col-md-2"><label>@Html.DisplayNameFor(model => model.LayoutWt)</label></div>
                <div class="col-md-1"><span> @Html.DisplayFor(model => model.LayoutWt)</span></div>
            </div>
            <div class="row">
                <div class="col-md-2"><label>@Html.DisplayNameFor(model => model.StructureVal)</label></div>
                <div class="col-md-1"><span> @Html.DisplayFor(model => model.StructureVal)</span></div>
                <div class="col-md-2"><label>@Html.DisplayNameFor(model => model.StructureWt)</label></div>
                <div class="col-md-1"><span> @Html.DisplayFor(model => model.StructureWt)</span></div>
            </div>
            <div class="row">
                <div class="col-md-2"><label>@Html.DisplayNameFor(model => model.LiteratureVal)</label></div>
                <div class="col-md-1"><span> @Html.DisplayFor(model => model.LiteratureVal)</span></div>
                <div class="col-md-2"><label>@Html.DisplayNameFor(model => model.LiteratureWt)</label></div>
                <div class="col-md-1"><span> @Html.DisplayFor(model => model.LiteratureWt)</span></div>
            </div>
            <div class="row">
                <div class="col-md-2"><label>@Html.DisplayNameFor(model => model.DifficultyVal)</label></div>
                <div class="col-md-1"><span> @Html.DisplayFor(model => model.DifficultyVal)</span></div>
                <div class="col-md-2"><label>@Html.DisplayNameFor(model => model.DifficultyWt)</label></div>
                <div class="col-md-1"><span> @Html.DisplayFor(model => model.DifficultyWt)</span></div>
            </div>
            <div class="row">
                <div class="col-md-2"><label>@Html.DisplayNameFor(model => model.NoveltyVal)</label></div>
                <div class="col-md-1"><span> @Html.DisplayFor(model => model.NoveltyVal)</span></div>
                <div class="col-md-2"><label>@Html.DisplayNameFor(model => model.NoveltyWt)</label></div>
                <div class="col-md-1"><span> @Html.DisplayFor(model => model.NoveltyWt)</span></div>
            </div>
            <div class="row">
                <div class="col-md-2"><label>@Html.DisplayNameFor(model => model.RichnessVal)</label></div>
                <div class="col-md-1"><span> @Html.DisplayFor(model => model.RichnessVal)</span></div>
                <div class="col-md-2"><label>@Html.DisplayNameFor(model => model.RichnessWt)</label></div>
                <div class="col-md-1"><span> @Html.DisplayFor(model => model.RichnessWt)</span></div>
            </div>
        </div>
    </div>
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Grade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Grade)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-secondary" onclick="printDiv('PrintBereich');return false;">Gutachten drucken</a> |
    <a asp-action="Edit" asp-route-id="@Model.Id">Thesis bearbeiten</a> |
    <a asp-action="Index">Zurück zur Thesisliste</a>
</div>

<script>
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;
    }
</script>
