@System.Globalization.CultureInfo.CurrentUICulture
@model IEnumerable<ThesisWebProjekt.Models.Thesis>

@{
    ViewData["Title"] = "Index";
}

<script>
    function resetForm() {

        document.getElementById("Sort").value = null;

        document.getElementById("Form").submit();
    }
</script>



<h1>Übersicht</h1>



<form id="Form" asp-action="Index" method="get">
    <p>
        <a class="btn btn-primary" asp-action="Create"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;&nbsp;Create new</a>


        <input type="button" value="Reset" class="btn btn-default pull-right" onclick="resetForm()" />
    </p>



    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">

                <div class="col-xs-3">

                    <label class="control-label">Sortieren nach:</label>
                    @Html.DropDownList("Sort", Html.GetEnumSelectList(typeof(ThesisWebProjekt.Controllers.ThesesController.SortCriteria)), new { id = "Sort", @class = "form-control", onchange = "document.getElementById('Form').submit()" })

                </div>
            </div>
        </div>
   </div>




    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StudentName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StudentEmail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StudentId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Registration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Filing)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ThesisType)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Betreuer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lehrstuhl)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Registration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Filing)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ThesisType)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Betreuer.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lehrstuhl.Name)
                </td>

                <td class="text-center" style="vertical-align: middle">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn"><span class=" glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn"><span class=" glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn"><span class=" glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</form>